# for the old creative mode type of flying. Todo: remove once Elytra code implemented
public net.minecraft.network.play.ServerPlayNetHandler field_147365_f # aboveGroundTickCount

# Allow cube list to be cleared for the high-polly armor models
public net.minecraft.client.renderer.model.ModelRenderer field_78804_l # cubeList

# allow overriding of armor layer armor part rendering
protected net.minecraft.client.renderer.entity.layers.ArmorLayer func_229129_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/client/renderer/IRenderTypeBuffer;Lnet/minecraft/entity/LivingEntity;FFFFFFLnet/minecraft/inventory/EquipmentSlotType;I)V # renderArmorPart
#protected net.minecraft.client.renderer.entity.layers.ArmorLayer func_241739_a_

# used in setting up the armor layer
public net.minecraft.client.renderer.entity.LivingRenderer field_177097_h # layerRenderers
public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177189_c # modelLeggings
public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177186_d # modelArmor
public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177189_c # modelLeggings
public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177186_d # modelArmor


# Allow slots to be moved
public-f net.minecraft.inventory.container.Slot field_75223_e # xPos
public-f net.minecraft.inventory.container.Slot field_75221_f # yPos

# breakArmorStand allow overriding
protected net.minecraft.entity.item.ArmorStandEntity func_213815_f(Lnet/minecraft/util/DamageSource;)V
protected net.minecraft.entity.item.ArmorStandEntity func_213816_g(Lnet/minecraft/util/DamageSource;)V

protected net.minecraft.entity.item.ArmorStandEntity func_175413_k(Z)V # setShowArms

# override to "fix" some rendering issues with the dynamically drawn gui backgrounds from this mod
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147004_w #isRightMouseClick
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147005_v # clickedSlot,2,Used when touchscreen is enabled
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_147012_x # draggedStack,2,Used when touchscreen is enabled
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146987_F# dragSplittingLimit
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V # drawItemStack
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_238746_a_(Lcom/mojang/blaze3d/matrix/MatrixStack;Lnet/minecraft/inventory/container/Slot;)V #moveItems
#protected net.minecraft.client.gui.screen.inventory.ContainerScreen func_146980_g()V# updateDragSplitting()


# protected net.minecraft.client.gui.screen.inventory.ContainerScreen field_146994_N# shiftClickedSlot,2,



















