## Used in PlayerUtils
# for the old creative mode type of flying.
public net.minecraft.server.network.ServerGamePacketListenerImpl f_9737_ # aboveGroundTickCount
# used for getting the BiomeCategory for cooling
public net.minecraft.world.level.biome.Biome m_47567_()Lnet/minecraft/world/level/biome/Biome$BiomeCategory; # getBiomeCategory
# used for getting the temperature for cooling
public net.minecraft.world.level.biome.Biome m_47505_(Lnet/minecraft/core/BlockPos;)F # getTemperature

# Armor stand stuff
public net.minecraft.world.entity.decoration.ArmorStand m_31675_(Z)V # setShowArms
public net.minecraft.world.entity.decoration.ArmorStand m_31646_(Lnet/minecraft/world/damagesource/DamageSource;)V #brokenByPlayer
public net.minecraft.world.entity.decoration.ArmorStand m_31653_(Lnet/minecraft/world/damagesource/DamageSource;)V #brokenByAnything

# For Armor model stuff
public-f net.minecraft.client.model.geom.ModelPart #ModelPart
public-f net.minecraft.client.model.geom.ModelPart f_104212_ # cubes
public-f net.minecraft.client.model.geom.ModelPart f_104213_ # children
public-f net.minecraft.client.model.geom.ModelPart m_104290_(Lcom/mojang/blaze3d/vertex/PoseStack$Pose;Lcom/mojang/blaze3d/vertex/VertexConsumer;IIFFFF)V

# Armor layer stuff
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117071_ # innerModel
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117072_ # outerModel
public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer m_117118_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/world/entity/LivingEntity;Lnet/minecraft/world/entity/EquipmentSlot;ILnet/minecraft/client/model/HumanoidModel;)V # renderPart
public net.minecraft.client.renderer.entity.LivingEntityRenderer f_115291_ # layers


public net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97799_(Lcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/world/inventory/Slot;)V # moveItems
protected net.minecraft.client.gui.screens.inventory.AbstractContainerScreen m_97774_(Lnet/minecraft/world/inventory/Slot;DD)Z #isHovering
# allow overriding of tick method
public-f net.minecraft.client.gui.screens.inventory.AbstractContainerScreen  tick()V # tick()

# Slot x,y (allow moving)
public-f net.minecraft.world.inventory.Slot f_40220_ # x
public-f net.minecraft.world.inventory.Slot f_40221_ # y

# Crafting menu
public net.minecraft.world.inventory.CraftingMenu f_39351_ # player
public net.minecraft.world.inventory.CraftingMenu f_39348_ # craftSlots
public net.minecraft.world.inventory.CraftingMenu f_39349_ # resultSlots


# {
#  public static final int f_150539_;
#  private static final int f_150540_;
#  private static final int f_150541_;
#  private static final int f_150542_;
#  private static final int f_150543_;
#  private static final int f_150544_;
#  private static final int f_150545_;
#  private final net.minecraft.world.inventory.CraftingContainer f_39348_;
#  private final net.minecraft.world.inventory.ResultContainer f_39349_;
#  private final net.minecraft.world.inventory.ContainerLevelAccess f_39350_;
#  private final net.minecraft.world.entity.player.Player f_39351_;
#  public net.minecraft.world.inventory.CraftingMenu(int, net.minecraft.world.entity.player.Inventory);
#  public net.minecraft.world.inventory.CraftingMenu(int, net.minecraft.world.entity.player.Inventory, net.minecraft.world.inventory.ContainerLevelAccess);
#  protected static void m_150546_(net.minecraft.world.inventory.AbstractContainerMenu, net.minecraft.world.level.Level, net.minecraft.world.entity.player.Player, net.minecraft.world.inventory.CraftingContainer, net.minecraft.world.inventory.ResultContainer);
#  public void m_6199_(net.minecraft.world.Container);
#  public void m_5816_(net.minecraft.world.entity.player.StackedContents);
#  public void m_6650_();
#  public boolean m_6032_(net.minecraft.world.item.crafting.Recipe<? super net.minecraft.world.inventory.CraftingContainer>);
#  public void m_6877_(net.minecraft.world.entity.player.Player);
#  public boolean m_6875_(net.minecraft.world.entity.player.Player);
#  public net.minecraft.world.item.ItemStack m_7648_(net.minecraft.world.entity.player.Player, int);
#  public boolean m_5882_(net.minecraft.world.item.ItemStack, net.minecraft.world.inventory.Slot);
#  public int m_6636_();
#  public int m_6635_();
#  public int m_6656_();
#  public int m_6653_();
#  public net.minecraft.world.inventory.RecipeBookType m_5867_();
#  public boolean m_142157_(int);
#  private static void m_39375_(net.minecraft.world.item.ItemStack, net.minecraft.world.entity.player.Player, net.minecraft.world.level.Level, net.minecraft.core.BlockPos);
#  private void m_39369_(net.minecraft.world.entity.player.Player, net.minecraft.world.level.Level, net.minecraft.core.BlockPos);
#  private void m_39385_(net.minecraft.world.level.Level, net.minecraft.core.BlockPos);
#}




# # for the old creative mode type of flying. Todo: remove once Elytra code implemented
# public net.minecraft.network.play.ServerPlayNetHandler field_147365_f # aboveGroundTickCount
#
# # Allow cube list to be cleared for the high-polly armor models
# public net.minecraft.client.renderer.model.ModelPart field_78804_l # cubeList
#
# # allow overriding of armor layer armor part rendering
# protected net.minecraft.client.renderer.entity.layers.ArmorLayer func_229129_a_(Lcom/mojang/blaze3d/matrix/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/entity/LivingEntity;FFFFFFLnet/minecraft/inventory/EquipmentSlot;I)V # renderArmorPart
# #protected net.minecraft.client.renderer.entity.layers.ArmorLayer renderArmorPiece
#
# # used in setting up the armor layer
# #renderArmorPiece,renderArmorPiece,
#
#
# public net.minecraft.client.renderer.entity.layers.BipedArmorLayer renderArmorPiece(Lcom/mojang/blaze3d/matrix/PoseStack;Lnet/minecraft/client/renderer/MultiBufferSource;Lnet/minecraft/entity/LivingEntity;Lnet/minecraft/inventory/EquipmentSlot;ILnet/minecraft/client/renderer/entity/model/BipedModel;)V
#
# public net.minecraft.client.renderer.entity.LivingRenderer field_177097_h # layerRenderers
# public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177189_c # modelLeggings
# public net.minecraft.client.renderer.entity.layers.ArmorLayer field_177186_d # modelArmor
# public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177189_c # modelLeggings
# public net.minecraft.client.renderer.entity.layers.BipedArmorLayer field_177186_d # modelArmor
#
#
# # Allow slots to be moved
# public-f net.minecraft.inventory.container.Slot x # xPos
# public-f net.minecraft.inventory.container.Slot y # yPos
#
# # allow access to private methods to avoid having to implement them
# protected net.minecraft.item.crafting.ServerRecipePlacer func_203600_c()I
# protected net.minecraft.item.crafting.ServerRecipePlacer func_194328_c()Z
#
#
#
# #ty net/minecraft/item/crafting/ServerRecipePlacer
# #	a field_194330_a
# #	b field_194331_b
# #	c field_201514_c
# #	d field_201515_d
# #	a ()V func_201511_a
# #	a (I)V func_201510_a
# #	a (Lbhw;Lbki;)V func_194325_a
# #	a (Lbmu;Z)V func_201508_a
# #	a (Ljava/util/Iterator;IIII)V func_201500_a
# #	a (Lze;Lbmu;Z)V func_194327_a
# #	a (ZIZ)I func_201509_a
# #	b ()Z func_194328_c
# #	c ()I func_203600_c
#
# # RecipeBook stuff
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191894_a # RECIPE_BOOK_LOCATION
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191915_z # ghostRecipe
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193960_m # filterButton
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_201522_g # menu
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191888_F # minecraft
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193964_s # book
# protected-f net.minecraft.client.gui.recipebook.RecipeBookGui field_193022_s # recipeBookPage
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193965_u # stackedContents
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_241620_l_ # SEARCH_HINT
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191903_n # xOffset
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191904_o # width
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191905_p # height
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193018_j # tabButtons
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_191913_x # selectedTab
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193962_q # searchBox
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193963_r # lastSearch
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_193966_v # timesInventoryChanged
# protected net.minecraft.client.gui.recipebook.RecipeBookGui field_199738_u # ignoreTextInput
#
# protected net.minecraft.client.gui.recipebook.RecipeBookGui func_193003_g(Z)V # updateCollections
# protected net.minecraft.client.gui.recipebook.RecipeBookGui func_193949_f()V # updateTabs,0,
#
# #dtn net/minecraft/client/gui/recipebook/RecipeBookGui
# #	a field_191894_a -> RECIPE_BOOK_LOCATION
# #	b field_191915_z -> ghostRecipe
# #	c field_193960_m -> filterButton
# #	d field_201522_g -> menu
# #	e field_191888_F -> minecraft
# #	i field_193964_s -> book
# #	j field_193022_s -> recipeBookPage
# #	k field_193965_u -> stackedContents
# #	l field_241620_l_ -> SEARCH_HINT
# #	m field_191903_n -> xOffset
# #	n field_191904_o -> width
# #	o field_191905_p -> height
# #	p field_193018_j - tabButtons
# #	q field_191913_x -> selectedTab
# #	r field_193962_q -> searchBox
# #	s field_193963_r -> lastSearch
# #	t field_193966_v -> timesInventoryChanged
# #	u field_199738_u -> ignoreTextInput
# #	a ()Z func_201521_f
# #	a (CI)Z func_231042_a_
# #	a (DDI)Z mouseClicked
# #	a (DDIIIII)Z func_195604_a
# #	a (III)Z keyPressed
# #	a (IILdlx;ZLbhp;)V func_201520_a
# #	a (Lbhw;)V func_191874_a
# #	a (Lbmu;Ljava/util/List;)V func_193951_a
# #	a (Ldhl;IIF)V render
# #	a (Ldhl;IIZF)V func_230477_a_
# #	a (Ldtp;)Z func_209505_a
# #	a (Ldtr;)Z func_193958_a
# #	a (Lit/unimi/dsi/fastutil/objects/ObjectSet;Ldtr;)Z func_193947_a
# #	a (Ljava/lang/String;)V func_193716_a
# #	a (Ljava/util/Iterator;IIII)V func_201500_a
# #	a (Ljava/util/List;)V func_193001_a
# #	a (Z)V func_193003_g
# #	a (ZII)I func_193011_a
# #	b ()V func_193949_f
# #	b (DD)Z func_231047_b_
# #	b (III)Z keyReleased
# #	b (Ldtr;)Z func_193953_b
# #	c ()Z func_191878_b
# #	c (Ldhl;IIII)V func_238924_c_
# #	c (Ldtr;)Z func_193952_b
# #	c (Z)V func_193006_a
# #	d ()V func_193942_g
# #	d (Ldhl;IIII)V func_238925_d_
# #	d (Ldtr;)V func_193944_d
# #	e ()V func_205702_a
# #	e (Z)V func_201518_a
# #	f ()Lmr; func_230478_f_
# #	g ()V func_195603_h
# #	h ()Z func_191880_f
# #	i ()V func_191871_c
# #	j ()V func_191866_a
# #	k ()V func_193957_d
# #	l ()V func_193948_e
# #	m ()V func_193956_j
# #	c_ (Z)Z func_231049_c__
#
# # Make some fields in the recipe book accessible
#
# # recipe page stuff -----------------------------------------
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193743_h # buttons
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194201_b # hoveredButton
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194202_c # overlay
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193754_s # minecraft
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193757_v # showListeners
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194203_f # recipeCollections
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193740_e # forwardButton
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193741_f # backButton
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193737_b # totalPages
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_193738_c # currentPage
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194204_k # recipeBook
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194205_l # lastClickedRecipe
# protected net.minecraft.client.gui.recipebook.RecipeBookPage field_194206_m # lastClickedRecipeCollection
#
# protected net.minecraft.client.gui.recipebook.RecipeBookPage func_194197_e()V # updateArrowButtons
# protected net.minecraft.client.gui.recipebook.RecipeBookPage func_194198_d()V # updateButtonsForPage
#
# #	a ()Lbmu; func_194193_a
# #	a (DDIIIII)Z func_198955_a
# #	a (Ldhl;II)V func_238926_a_
# #	a (Ldhl;IIIIF)V func_238927_a_
# #	a (Ldlx;II)V func_194194_a
# #	a (Ldtn;)V func_193732_a
# #	a (Ljava/util/List;)V func_194195_a
# #	a (Ljava/util/List;Z)V func_194192_a
# #	b ()Ldtr; func_194199_b
# #	c ()V func_194200_c
# #	d ()Ldlx; func_203411_d
# #	e ()Laco; func_203412_e
# #	f ()V func_194198_d
#
#
#
#
#
#
# #dto net/minecraft/client/gui/recipebook/RecipeBookPage
# #	a field_193743_h
# #	b field_194201_b
# #	c field_194202_c
# #	d field_193754_s
# #	e field_193757_v
# #	f field_194203_f
# #	g field_193740_e
# #	h field_193741_f
# #	i field_193737_b
# #	j field_193738_c
# #	k field_194204_k
# #	l field_194205_l
# #	m field_194206_m
# #	a ()Lbmu; func_194193_a
# #	a (DDIIIII)Z func_198955_a
# #	a (Ldhl;II)V func_238926_a_
# #	a (Ldhl;IIIIF)V func_238927_a_
# #	a (Ldlx;II)V func_194194_a
# #	a (Ldtn;)V func_193732_a
# #	a (Ljava/util/List;)V func_194195_a
# #	a (Ljava/util/List;Z)V func_194192_a
# #	b ()Ldtr; func_194199_b
# #	c ()V func_194200_c
# #	d ()Ldlx; func_203411_d
# #	e ()Laco; func_203412_e
# #	f ()V func_194198_d
# #	g ()V func_194197_e
#
# # -----------------------
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_191780_o # RECIPE_BOOK_LOCATION
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_243412_b # MORE_RECIPES_TOOLTIP
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_203401_p # menu
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_193930_p # book
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_191774_p # collection
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_193931_r # time
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_191778_t # animationTime
# protected net.minecraft.client.gui.recipebook.RecipeWidget field_193932_t # currentIndex
#
#
#
#
#
#
#
#
# #dtq net/minecraft/client/gui/recipebook/RecipeWidget
# #	a field_191780_o
# #	b field_203401_p
# #	c field_193930_p
# #	d field_191774_p
# #	e field_193931_r
# #	s field_191778_t
# #	t field_193932_t
# #	a ()Ldtr; func_191771_c
# #	a (I)Z func_230987_a_
# #	a (II)V func_191770_c
# #	a (Ldqs;)Ljava/util/List; func_191772_a
# #	a (Ldtr;Ldto;)V func_203400_a
# #	b ()Z func_193929_d
# #	b (Ldhl;IIF)V func_230431_b_
# #	d ()Lbmu; func_193760_e
# #	h ()I func_230998_h_
# #	k ()Ljava/util/List; func_193927_f
#
#
#
#
#
# # breakArmorStand allow overriding
# protected net.minecraft.entity.item.ArmorStand func_213815_f(Lnet/minecraft/util/DamageSource;)V
# protected net.minecraft.entity.item.ArmorStand func_213816_g(Lnet/minecraft/util/DamageSource;)V
#
# protected net.minecraft.entity.item.ArmorStand func_175413_k(Z)V # setShowArms
#
# # override to "fix" some rendering issues with the dynamically drawn gui backgrounds from this mod
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen field_147004_w #isRightMouseClick
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen field_147005_v # clickedSlot,2,Used when touchscreen is enabled
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen field_147012_x # draggedStack,2,Used when touchscreen is enabled
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen field_146987_F# dragSplittingLimit
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen func_146982_a(Lnet/minecraft/item/ItemStack;IILjava/lang/String;)V # drawItemStack
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen renderSlot(Lcom/mojang/blaze3d/matrix/PoseStack;Lnet/minecraft/inventory/container/Slot;)V #moveItems
# #protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen func_146980_g()V# updateDragSplitting()
#
#
# # override container slot rendering if disabled
# protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen renderSlot(Lcom/mojang/blaze3d/matrix/PoseStack;Lnet/minecraft/inventory/container/Slot;)V # renderSlot
# # override to return false for disabled slots
# protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen isHovering(Lnet/minecraft/inventory/container/Slot;DD)Z # isHovering,0,
# protected net.minecraft.client.gui.screen.inventory.AbstractContainerMenuScreen isHovering #isHovering,0
#
#
#
#